{
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"proseWrap": "preserve",
	"endOfLine": "auto"
}
